Import Library

In [17]:
import pandas as pd
import numpy as np

In [18]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [19]:
concrete_data.shape
concrete_data.describe()
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [20]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [21]:
predictors = (predictors - predictors.mean()) / predictors.std()

In [22]:
predictors.head()
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [23]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

In [24]:
import keras

In [25]:
from keras.models import Sequential
from keras.layers import Dense

In [26]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu',))
    model.add(Dense(10, activation='relu',))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [28]:
# build the model
model = regression_model()

In [29]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 3ms/step - loss: 1592.9075
Epoch 2/50
23/23 [==============================] - 0s 2ms/step - loss: 1574.8936
Epoch 3/50
23/23 [==============================] - 0s 1ms/step - loss: 1550.5677
Epoch 4/50
23/23 [==============================] - 0s 2ms/step - loss: 1512.7104
Epoch 5/50
23/23 [==============================] - 0s 2ms/step - loss: 1453.8396
Epoch 6/50
23/23 [==============================] - 0s 2ms/step - loss: 1365.7148
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 1235.3964
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 1048.9978
Epoch 9/50
23/23 [==============================] - 0s 2ms/step - loss: 809.1852
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 557.1876
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 358.1915
Epoch 12/50
23/23 [==============================] - 0s 2ms/step - loss: 254.0783
Epoch 13/50
23/23 [==============================] - 0s 3ms/step - loss: 224.4332
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 213.9580
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 205.1588
Epoch 16/50
23/23 [==============================] - 0s 2ms/step - loss: 198.7697
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 193.5944
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 189.3952
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 185.1367
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 181.9743
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 178.4743
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 175.1342
Epoch 23/50
23/23 [==============================] - 0s 2ms/step - loss: 172.2963
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 169.3795
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 167.0045
Epoch 26/50
23/23 [==============================] - 0s 2ms/step - loss: 165.0540
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 162.0340
Epoch 28/50
23/23 [==============================] - 0s 2ms/step - loss: 159.8749
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 158.2144
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 156.1977
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 154.1652
Epoch 32/50
23/23 [==============================] - 0s 2ms/step - loss: 152.3588
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 150.8988
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 149.2216
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 147.7819
Epoch 36/50
23/23 [==============================] - 0s 2ms/step - loss: 145.8794
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 144.3024
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 143.3795
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 141.6251
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 140.5778
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 138.8334
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 137.4264
Epoch 43/50
23/23 [==============================] - 0s 2ms/step - loss: 135.8827
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 134.6519
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 133.6176
Epoch 46/50
23/23 [==============================] - 0s 2ms/step - loss: 132.2507
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 130.9687
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 129.7562
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 128.6121
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 127.4158

In [30]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 1ms/step - loss: 122.9835
10/10 [==============================] - 0s 2ms/step

122.98348999023438

In [31]:
from sklearn.metrics import mean_squared_error

In [32]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

122.98349677441256 0.0