Import Library

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape
concrete_data.describe()
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [4]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [5]:
predictors = (predictors - predictors.mean()) / predictors.std()

In [6]:
predictors.head()
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [7]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

In [8]:
import keras

In [9]:
from keras.models import Sequential
from keras.layers import Dense

In [10]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [12]:
# build the model
model = regression_model()

In [13]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 2ms/step - loss: 1546.4421
Epoch 2/50
23/23 [==============================] - 0s 1ms/step - loss: 1530.4326
Epoch 3/50
23/23 [==============================] - 0s 1ms/step - loss: 1514.3771
Epoch 4/50
23/23 [==============================] - 0s 1ms/step - loss: 1497.8251
Epoch 5/50
23/23 [==============================] - 0s 1ms/step - loss: 1480.7637
Epoch 6/50
23/23 [==============================] - 0s 1ms/step - loss: 1463.4213
Epoch 7/50
23/23 [==============================] - 0s 1ms/step - loss: 1444.9469
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 1426.0508
Epoch 9/50
23/23 [==============================] - 0s 1ms/step - loss: 1405.9215
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 1385.2576
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 1362.9622
Epoch 12/50
23/23 [==============================] - 0s 1ms/step - loss: 1339.6135
Epoch 13/50
23/23 [==============================] - 0s 1ms/step - loss: 1314.6262
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 1288.6316
Epoch 15/50
23/23 [==============================] - 0s 1ms/step - loss: 1260.6760
Epoch 16/50
23/23 [==============================] - 0s 1ms/step - loss: 1231.9386
Epoch 17/50
23/23 [==============================] - 0s 1ms/step - loss: 1201.6384
Epoch 18/50
23/23 [==============================] - 0s 1ms/step - loss: 1170.8092
Epoch 19/50
23/23 [==============================] - 0s 1ms/step - loss: 1139.3031
Epoch 20/50
23/23 [==============================] - 0s 1ms/step - loss: 1107.5776
Epoch 21/50
23/23 [==============================] - 0s 1ms/step - loss: 1075.1144
Epoch 22/50
23/23 [==============================] - 0s 1ms/step - loss: 1042.6390
Epoch 23/50
23/23 [==============================] - 0s 1ms/step - loss: 1009.8851
Epoch 24/50
23/23 [==============================] - 0s 1ms/step - loss: 977.0751
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 944.2739
Epoch 26/50
23/23 [==============================] - 0s 4ms/step - loss: 911.8222
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 879.5493
Epoch 28/50
23/23 [==============================] - 0s 3ms/step - loss: 848.7764
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 816.8995
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 786.8066
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 757.0228
Epoch 32/50
23/23 [==============================] - 0s 2ms/step - loss: 727.9509
Epoch 33/50
23/23 [==============================] - 0s 5ms/step - loss: 699.7889
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 672.6459
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 646.1899
Epoch 36/50
23/23 [==============================] - 0s 3ms/step - loss: 620.3779
Epoch 37/50
23/23 [==============================] - 0s 3ms/step - loss: 595.7399
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 572.0505
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 549.7241
Epoch 40/50
23/23 [==============================] - 0s 3ms/step - loss: 527.6243
Epoch 41/50
23/23 [==============================] - 0s 4ms/step - loss: 507.2081
Epoch 42/50
23/23 [==============================] - 0s 3ms/step - loss: 487.2036
Epoch 43/50
23/23 [==============================] - 0s 3ms/step - loss: 468.2281
Epoch 44/50
23/23 [==============================] - 0s 3ms/step - loss: 450.1856
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 433.1458
Epoch 46/50
23/23 [==============================] - 0s 3ms/step - loss: 416.9106
Epoch 47/50
23/23 [==============================] - 0s 3ms/step - loss: 401.5921
Epoch 48/50
23/23 [==============================] - 0s 3ms/step - loss: 386.9109
Epoch 49/50
23/23 [==============================] - 0s 3ms/step - loss: 373.3525
Epoch 50/50
23/23 [==============================] - 0s 4ms/step - loss: 360.1542

In [14]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 3ms/step - loss: 349.7472
10/10 [==============================] - 0s 2ms/step

349.7471618652344

In [15]:
from sklearn.metrics import mean_squared_error

In [16]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

349.74713685571527 0.0