Import Library

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape
concrete_data.describe()
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [4]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [5]:
predictors.head()
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [6]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

In [7]:
import keras

In [8]:
from keras.models import Sequential
from keras.layers import Dense

In [9]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [11]:
# build the model
model = regression_model()

In [12]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 1ms/step - loss: 132660.3750
Epoch 2/50
23/23 [==============================] - 0s 1ms/step - loss: 53031.2578
Epoch 3/50
23/23 [==============================] - 0s 2ms/step - loss: 14595.3730
Epoch 4/50
23/23 [==============================] - 0s 2ms/step - loss: 3784.3401
Epoch 5/50
23/23 [==============================] - 0s 2ms/step - loss: 2645.1116
Epoch 6/50
23/23 [==============================] - 0s 2ms/step - loss: 2373.6228
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 2145.8062
Epoch 8/50
23/23 [==============================] - 0s 1ms/step - loss: 1936.3204
Epoch 9/50
23/23 [==============================] - 0s 1ms/step - loss: 1746.4856
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 1574.9818
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 1416.2134
Epoch 12/50
23/23 [==============================] - 0s 1ms/step - loss: 1287.0531
Epoch 13/50
23/23 [==============================] - 0s 1ms/step - loss: 1160.1792
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 1046.0701
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 954.8498
Epoch 16/50
23/23 [==============================] - 0s 1ms/step - loss: 872.5682
Epoch 17/50
23/23 [==============================] - 0s 1ms/step - loss: 804.1865
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 742.6658
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 691.8199
Epoch 20/50
23/23 [==============================] - 0s 1ms/step - loss: 648.8372
Epoch 21/50
23/23 [==============================] - 0s 1ms/step - loss: 611.3813
Epoch 22/50
23/23 [==============================] - 0s 3ms/step - loss: 579.7583
Epoch 23/50
23/23 [==============================] - 0s 4ms/step - loss: 551.9003
Epoch 24/50
23/23 [==============================] - 0s 3ms/step - loss: 528.5618
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 508.0568
Epoch 26/50
23/23 [==============================] - 0s 3ms/step - loss: 491.1221
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 473.2404
Epoch 28/50
23/23 [==============================] - 0s 3ms/step - loss: 459.9225
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 446.4485
Epoch 30/50
23/23 [==============================] - 0s 3ms/step - loss: 433.9521
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 424.6214
Epoch 32/50
23/23 [==============================] - 0s 3ms/step - loss: 414.9838
Epoch 33/50
23/23 [==============================] - 0s 3ms/step - loss: 405.4408
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 394.7483
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 385.9262
Epoch 36/50
23/23 [==============================] - 0s 2ms/step - loss: 377.3668
Epoch 37/50
23/23 [==============================] - 0s 3ms/step - loss: 369.0361
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 362.5233
Epoch 39/50
23/23 [==============================] - 0s 3ms/step - loss: 357.3885
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 346.9836
Epoch 41/50
23/23 [==============================] - 0s 3ms/step - loss: 340.8260
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 334.9306
Epoch 43/50
23/23 [==============================] - 0s 2ms/step - loss: 328.0377
Epoch 44/50
23/23 [==============================] - 0s 4ms/step - loss: 322.3644
Epoch 45/50
23/23 [==============================] - 0s 3ms/step - loss: 316.9727
Epoch 46/50
23/23 [==============================] - 0s 3ms/step - loss: 311.0323
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 307.3113
Epoch 48/50
23/23 [==============================] - 0s 3ms/step - loss: 300.0178
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 294.8818
Epoch 50/50
23/23 [==============================] - 0s 3ms/step - loss: 290.8359

In [13]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 2ms/step - loss: 291.4520
10/10 [==============================] - 0s 2ms/step

291.4519958496094

In [14]:
from sklearn.metrics import mean_squared_error

In [15]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

291.45197335945596 0.0